<% render :partial => 'admin/shared/store_sub_menu' %>

<%= error_messages_for :store_event %>
<h1><%= t("editing_store_event") %></h1>
<% form_for :store_event, @store_event, :url => { :action => "update", :id =>@store_event.id }, :html => {:method => :put} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p class="form-buttons">
     <%= button t("update") %> <%= link_to t('cancel'), collection_url %>
  </p>
<% end %>


